@charset "UTF-8";
/* CSS Document */




.container {
	margin-top: 5%;
}
h3 {
	text-align: center;
	margin-bottom: 2%;
	color: #66D2FE;
}
h5 {
	margin-bottom: 0.5%;
	text-align: center;
}
/*aside*/
.col-md-2 {
	margin-top: 8%;
}
#main ul li {
	list-style-type:none;
	margin-top: 1.5%;
	font-weight: 450;
	
	
}
#main li.current {	
	list-style-image:url(../images/arrow1.png);
}

#main li a{
color:#B3B3B3;
}
#main li a:hover{
	text-decoration:none;
	color:#808080;
}
#main li a.current {
	color:#2A2828;
	



}


/*center*/
input {
	border-radius:20px;
	width:200px;
	float:right;	
}
select {
	float:right;	
}
#member,#loan {
	
}

.col-md-10 {
	border-left: 1px solid #878787;
	padding-left:3%;
}
.topic {
	font-weight: 500;
}
.col-sm-3 {
	height: 280px;
	width: 180px;
	margin-bottom: -5%;
	margin-left:-2%;
}

.col-sm-3 p {
	font-size: 10px;
	line-height: 1.5;
	margin: 0.1%;
}
.container img {
	height: 100px;
	width: 100%;
	margin: 0;
}
.join {
	float:right;
	width: 50px;
	height: 20px;
	font-size: 12px;
	padding: 0;
	-moz-box-shadow: 0.3px 0.3px #9A9898;
	-webkit-box-shadow: 0.3px 0.3px #9A9898;
	box-shadow: 0.3px 0.3px #9A9898;
	margin-top:-15%;
}
#height{
 	overflow: hidden;
    text-overflow: ellipsis;
	-o-text-overflow:ellipsis;
	display:-webkit-box;
	-webkit-box-orient:vertical;
	-webkit-line-clamp:3;
}
