<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>header</title>
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="css/stylesheet.css" rel="stylesheet" type="text/css">
<link href="css/header.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="wrapper">

<img src="images/logo1.png" width="80" height="40" alt="logo" class="logo"/>
<div class="col-xs-6">
<div class="right-inner-addon">
 <i class="glyphicon glyphicon-search"></i>
    <input type="search"
           class="form-control" 
           placeholder="Search" />
	</div>
    </div>

<ul>
<li><img src="images/email.png" width="45" height="45" alt="message" /></li>
<li><img src="images/notification.png" width="45" height="45" alt="notification" /></li>
<li><img src="images/profile.png" width="40" height="40" alt="profile" /></li>
 <li class="not"><a href="login.html">Sign in</a></li>
 <li><a href="#">Sign up  </a></li>
 
</ul>
<br>

<ul class="nav nav-pills pull-left nav1">
  <li><a href="#">Home</a></li>
  <li><a href="#">Project</a></li>
  <li><a href="#">Interested</a></li>
  <li class="pull-right"><a href="#"><img src="images/setting.png" width="27" height="27" alt="profile" /></a></li>
  
</ul>


</div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="js/bootstrap.js"></script>
</body>
</html>
