{% extends "sites/non_responsive/base.html" %}

{% load i18n %}

{% load crispy_forms_tags %}

{% block header_scripts %}
    <script src="{{STATIC_URL}}js/plugins/tiny_mce/tiny_mce_src.js"></script>
    <script type="text/javascript">
        tinyMCE.init({
            // General options
            mode : "specific_textareas",
            editor_selector : "mce-editor",
            elements : "elm2",
            theme : "advanced",
            skin : "o2k7",
            skin_variant : "silver",
            plugins: 'advimage,advlink,preview,searchreplace,inlinepopups,media,autoresize,table,paste',
            theme_advanced_buttons1: 'bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,fontselect,fontsizeselect,forecolor,backcolor,|,bullist,numlist,|,link,unlink,image,media',
            theme_advanced_buttons2: 'tablecontrols,pasteword,outdent,indent,blockquote,hr,preview,code',
            language: 'en',
            theme_advanced_toolbar_location : "top",
            theme_advanced_toolbar_align : "left",
            theme_advanced_resizing : true,
        });

    </script>
{% endblock %}

{% block main_section %}
	<div id="create_organization_section">
		<div id="header_section" class="row div-center">
             <h3>Submit your organization</h3>
        </div>

		<div id="form_section" class='row'>
			<div class='wrapper'>
        		{% crispy form form.helper %}
        	</div>
        </div>
	</div>
{% endblock %}