{% extends "sites/non_responsive/base.html" %}

{% load socialaccount %}
{% load i18n %}

{% block header_scripts %}
    {% providers_media_js %}
{% endblock %}

{% load crispy_forms_tags %}
<link rel="stylesheet" href="http://jqueryvalidation.org/files/demo/site-demos.css">

{% block main_section %}
	<div class="register-section">
		<form role='form' class="signup" id="signup_form" method="post" action="{% url 'create_organization' %}">{% csrf_token %}
		<li></li>
		<li></li>
		<li></li>
		<li></li>
            {% crispy form form.helper %}
        </form>
        <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="http://jqueryvalidation.org/files/dist/jquery.validate.min.js"></script>
        <script src="http://jqueryvalidation.org/files/dist/additional-methods.min.js"></script>
        <script src="{{STATIC_URL}}js/apps/organization/main.js"></script>
	</div>
{% endblock %}