{% extends "sites/non_responsive/base.html" %}

{% load socialaccount %}
{% load i18n %}

{% block header_scripts %}
    {% providers_media_js %}
{% endblock %}

{% block main_section %}
	<div class="register-section">
		<li> {{object.created_by.username}} </li>
		<li> {{object.name}} </li>
		<li> {{object.description}} </li>
		<li> {{object.website}} </li>
		<li> {{object.email}} </li>
		<li> {{object.phone}} </li>
		<li> {{object.address}} </li>
		<li> {{object.city}} </li>
		<li> {{object.normal_member.username}} </li>
		<!--	
		<ul>
			{% for project in projects %}
				<a href= "{% url '/project/project_detail' project.unique_id %}"> {{ project.title }} </a>
			{% endfor %}
		</ul>
		-->
	</div> 
{% endblock%}