{% extends "sites/non_responsive/base.html" %}

{% load socialaccount %}
{% load i18n %}

{% block main_section %}
	<li> {{object.created_by.username}} </li>
	<li> {{object.name}} </li>
	<li> {{object.description}} </li>
	<li> {{object.website}} </li>
	<li> {{object.email}} </li>
	<li> {{object.phone}} </li>
	<li> {{object.address}} </li>
	<li> {{object.city}} </li>
	<li> {{object.normal_member.username}} </li>
	<ul>
		{% for project in projects %}
			<a> {{ project.title }} </a>
		{% endfor %}
	</ul>

	<ul>
		{% for user in board_members %}
			<a> {{ user.username }} </a>
		{% endfor %}
	</ul>

	<ul>
		{% for user in normal_members %}
			<a> {{ user.username }}
		{% endfor %}
	</ul>

	{% for user in board_members %}
		{% if request.user.username == user.username %}
			<li><a href= {% url 'edit_organization' object.unique_id %}> Edit </a></li>
			<li><a href= {% url 'delete_organization' object.unique_id %}> Delete </a></li>
			<li><a href={% url 'organization_inviting_member' object.unique_id %}> Inviting member</a></li>
		{% endif %}
	{% endfor %}

	<div id="star" data-score="{{rating}}"></div>
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/plugins/global/stylesheets/jquery.raty.css">
	<script type="text/javascript" src="{{STATIC_URL}}js/plugins/jquery-1.11.1.min.js "></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/plugins/jquery.raty.js"></script>
	<script type="text/javascript">

	</script>

	<button onlick="join_request(object.unique_id);">Request</button>

	<script type="text/javascript">
		function join_request(organization_unique_id){
			$.get('organization_accepting_member' organization_unique_id request.user.email, function(data){
				alert("I am an alert box!");
				});
		}
	</script>
{% endblock%}