{% extends "sites/non_responsive/base.html" %}

{% load socialaccount %}
{% load i18n %}

{% block header_scripts %}
    {% providers_media_js %}
{% endblock %}

{% load crispy_forms_tags %}
<link rel="stylesheet" href="http://jqueryvalidation.org/files/demo/site-demos.css">

{% block main_section %}
	<div class="register-section">
		<form role='form' class="signup" id="signup_form" method="post" action="{% url 'create_organization' %}">{% csrf_token %}
		<li></li>
		<li></li>
		<li></li>
		<li></li>
            {% crispy form form.helper %}
        </form>
        <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="http://jqueryvalidation.org/files/dist/jquery.validate.min.js"></script>
        <script src="http://jqueryvalidation.org/files/dist/additional-methods.min.js"></script>
        <script>
            jQuery(document).ready(function($){
                $('#signup_form').validate({
                    rules:{
                        'name':{
                            required: true,
                            minlength: 2,
                            pattern: /^[A-Z]{2}[0-9]{5}$/
                        },
                        'description': {
                            required: true,
                            minlength: 20,
                            maxlength: 500
                        },
                        'phone': {
                            minlength: 10,
                            maxlength: 12,
                            pattern: /^[0-9]$/
                        }
                    },
                    messages:{
                        'name':{
                            minlength: "Please make your organization name longer than 2 characters",
                            pattern: "The organization name can only consist of alphabetical and number"
                        },
                        'description': {
                            minlength: "Can you tell us more about your organization",
                            maxlength: "Please descripting briefly"
                        },
                        'phone': {
                            minlength: "Please give us a right phone number",
                            maxlength: "Please give us a right phone number",
                            pattern: "Phone field only accepts integer number from 1 to 9"
                        }
                    },
                    submitHandler: function (form) { // for demo
                        alert('valid form submitted'); // for demo
                        return false; // for demo
                    }

                });
            });
        </script>
	</div>
{% endblock %}