<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Welcome </title>
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="css/stylesheet.css" rel="stylesheet" type="text/css">
<link href="css/footer.css" rel="stylesheet" type="text/css">

<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,600italic,700italic,800italic,400,600,300,700,800' rel='stylesheet' type='text/css'>

</head>
<body>
<!--/*///*/**/*/*/-->
<div class="wrapper">
<footer>
<div class="col-sm-6 col-md-3">
<ul class="info"> 
<h4>Looking at something? </h4>
	  <li><a href="#">Newest projects</a></li>
      <li><a href="#">Most rating projects</a></li>
      <li><a href="#">Almost ready projects</a></li>
      <li><a href="#">Start Your Campain</a></li>
</ul>
</div>
<div class="col-sm-6 col-md-3">
<ul class="keep_touch">
<h4 >Get in touch </h4>
      <li><a href="#">About us</a></li>
      <li class="contact_icon">Socialize with us:<br>
      <a href="#"><img src="images/facebook.png" width="30" height="30" alt="facebook"/> </a>
      <a href="#"><img src="images/linkedin.png" width="30" height="30" alt="linkedin"/> </a>
      <a href="#"><img src="images/twitter.png" width="30" height="30" alt="twitter"/></a> 
      <a href="#"><img src="images/email1.png" width="30" height="30" alt="email"/></a> </li>
</ul>
</div>
<div class="col-sm-6 col-md-3">
<img src="images/project1.jpg" width="90%" height="50%" alt="logo" class="footer_image"/>
</div>

</footer>




  <!-- end .container --></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="js/bootstrap.js"></script>
</body>
</html>
