<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Organization</title>
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="css/stylesheet.css" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,600italic,700italic,800italic,400,600,300,700,800' rel='stylesheet' type='text/css'>
<link href="css/organize.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="container">
  
  <div id="organization" >
    <h1> Name of project </h1>
    <ul id="tabs">
      <li><a href="#description">About us</a></li>
      <li><a href="#loan">Loan</a></li>
      <li><a href="#members">Members</a></li>
      <li><a href="#graphs">Graphs </a></li>
      <li><a href="#impact"> Impact</a></li>
    </ul>
    <div id="description" class="tab-section"> <img   src="images/face.jpg" alt="project1_face" width="200" height="200" class="img-rounded pull-left" style="margin-left:15px;">
      <button type="button" class="btn btn-primary join">Join Team</button>
      <p>Innocent is 46 years old, and he is married with four children aged between 6 and 17, and all of them go school. He has been selling in his shop for 10 years. With the loan, he would like to buy more salt, sugar and soap to sell. The profits from the business will be used to pay the school fees for his children.
        Additional Information</p>
      <p style="color:rgba(6,138,207,1.00);">About Urwego Opportunity Bank of Rwanda (UOB)</p>
      <p>Urwego Opportunity Bank (UOB) is a Rwandan bank specializing in microfinance. It offers credit products to individuals and groups interested in starting or expanding their businesses. It also offers training in business development, financial literacy and health management. Given that approximately 90% of the Rwandan population is directly or indirectly related to the agricultural sector, Kiva lenders’ funds will be used to support UOB’s agricultural loan products, which are vital to the clients living in remote areas.</p>
    <p style="color:#00A9EF;">Contact us</p>
      <p> Location: 12231 Se 122 st, OR, Portland, 09372</p>
 	  <p> Our Website: abc@gmail.com </p>
      <div class="small-contact">
        <a href="#"> <img src="images/map.png" alt="map" width="45" height="45"><img src="images/facebook.png" alt="facebook" width="45" height="45"></a> <a href="#"> <img src="images/twitter.png" alt="twitter" width="45" height="45"></a> <a href="#"> <img src="images/linkedin.png" alt="linkedin" width="45" height="45"></a> <a href="#"> <img src="images/email1.png" alt="email" width="45" height="45"> </a> </div>
    </div>
    <div id="loan" class="tab-section">
      <p>This section contains additional photos of our product.</p>
    </div>
    <div id="members" class="tab-section">
      <h2>Detail</h2>
      <p>Tis is where we list out all the details of our product - size, weight, color, materials, etc.</p>
    </div>
    <div id="graphs" class="tab-section" >
      <p>Here's where we would list all of the glowing review our customers had written</p>
    </div>
    <div id="impact" class="tab-section">
      <p> And here we would list out other super items that our customers might also like to buy.</p>
    </div>
   
 
  </div>
</div>
<script src="js/jquery.js"></script> 
<script src="js/scripts.js"></script>
</body>
</html>
