{% extends "sites/non_responsive/base.html" %}

{% load i18n %}
{% load socialaccount %}

{% block header_scripts %}
	{% providers_media_js %}
{% endblock %}

{% block main_section %}
<div class="signin-section">
	<div class="signin-header row">
		<div class="header-text extra-large-text large-margin-left pull-left">
			{% trans "Sign In" %}
		</div>
		<div class="social-login pull-right large-margin-right small-margin-bottom">
			<a href="{% provider_login_url "facebook" method="js_sdk" %}">
				Facebook Login
			</a>
		</div>
	</div>
	<div class="signin-content row">
		 <form class="login" id="login_form" method="post" action="{% url 'account_login' %}">{% csrf_token %}
			<div class='non-field-error row'>
                {{ form.non_field_errors }}
            </div>
			<div class="data-section row">
				<div class="form-group">
					{{form.login.errors}}
					{{form.login}}
				</div>
				<div class="form-group">
					{{form.password.errors}}
					{{form.password}}
				</div>
			</div>
			<div class="complete-section row">
				 {% if redirect_field_value %}
					<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
				{% endif %}
				<div class="signin-btn pull-left">
					<button id="signin-btn" class="btn btn-warning btn-sm" alt="Sign in">{% trans "Sign in" %}</button>
				</div>
				<div class="remember-me pull-right mini-margin-top">
					<input type="checkbox" name="remember_me" checked="checked" class="no-margin">
					<span class="mini-text">{% trans "Remember Me" %}</span>
				</div>
			</div>
		</form>
	</div>
	<div class="signin-footer row">
		<div class="forgot-section small-margin-top pull-left">
			<div class="forgot-item pull-left">
				<a href="{% url 'account_reset_password' %}" class="gray-color mini-text underline">{% trans "Forgot Password" %}?</a>
			</div>
		</div>
		<div class="content small-margin-top pull-right bold">
			{% trans "New to SoulightRd" %}? <a href="{% url 'account_signup' %}">{% trans "Register" %}</a>
		</div>
	</div>
</div>
{% endblock %}
