{% extends "apps/auth/auth_base.html" %}
{% load i18n %}
{% block main_section %}
	<div class="reset-password-section">
		<div class="reset-password-header row">
			<div class="header-text pull-left">
				{% trans "Reset Password" %}
			</div>
		</div>
		<div class="reset-password-content row">
			<form method="POST" action="" class="password_reset"> {% csrf_token %}
				<div class="row small-margin-bottom">
					<label for="id_email" class="bold small-margin-bottom">
						{% trans "Email" %}
					</label>
					{{ password_reset_form.email.errors }}
					<div class="small-margin-bottom">
						<input id="id_email" name="email" size="30" type="text" class='form-control'>
					</div>
				</div>
				<div>
					<div class="align-center">
						<button type="submit" class="btn btn-warning btn-sm">{% trans "Submit" %}</button>
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
