{% extends "apps/auth/auth_base.html" %}
{% load i18n %}
{% block main_section %}
			<div class="reset-password-section">
				<div class="reset-password-header row">
					<div class="header-text pull-left">
						{% trans "Reset Password" %}
					</div>
				</div>
				<div class="reset-password-content row">
					<div class='complete-message medium-margin-bottom align-center'>
						{% trans "We have sent you an e-mail. Please contact us if you do not receive it within a few minutes." %}
					</div>
				</div>
			</div>
{% endblock %}
