{% extends "sites/non_responsive/base.html" %}

{% load socialaccount %}
{% load i18n %}

{% block header_scripts %}
    {% providers_media_js %}
{% endblock %}

{% block main_section %}
<div class="register-section">
    <div class="register-header row">
       <div class="header-text extra-large-text large-margin-left pull-left">
            {% trans "Signup" %}
        </div>
        <div class="join-fb pull-right large-margin-right small-margin-bottom">
           <a href="{% provider_login_url "facebook" method="js_sdk" %}">
                Facebook Login
            </a>
        </div>
    </div>
    <div class="register-content row">
         <form role='form' class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">{% csrf_token %}
            <div class='non-field-error row'>
                {{ form.non_field_errors }}
            </div>
            <div class="data-section row">
                <div class="form-group">
                    {{form.first_name.errors}}
                    {{form.first_name}}
                </div>
                <div class="form-group">
                    {{form.last_name.errors}}
                    {{form.last_name}}
                </div>
                <div class="form-group">
                    {{form.email.errors}}
                    {{form.email}}
                </div>
                <div class="form-group">
                    {{form.password1.errors}}
                    {{form.password1}}
                </div>
                <div class="form-group">
                    {{form.password2.errors}}
                    {{form.password2}}
                </div>
            </div>
            
            <div class="complete-section row">
                <div class='left-content pull-left'>
                    <div class="register-btn pull-right">
                        <button id="register_btn" class="btn btn-warning btn-sm" alt="Register">{% trans "Register" %}</button>
                    </div>
                </div>
                <div class="right-content pull-right">
                    {% trans "Already a member?" %} <a href="{% url 'account_login' %}"> {% trans "Sign In" %} </a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
