<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Welcome</title>
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="css/stylesheet.css" rel="stylesheet" type="text/css">
<link href="css/sign-in.css" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,600italic,700italic,800italic,400,600,300,700,800' rel='stylesheet' type='text/css'>

</head>
<body>
<!--/*///*/**/*/*/-->

<div class="container">
  <div class="row sign-in">
    <div class="col-sm-6 col-md-3 facebook">
      <h3>Started Quickly</h3>
      <p>Sign in with Facebook is fastest way to join us as well as find your friends easier</p>
      <button type="button" class="btn btn-primary btn-lg btn-block">Sign in with Facebook</button>
    </div>
    <div class="col-sm-6 col-md-4 white">
      <h3>Sign Up</h3>
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="sr-only" for="exampleInputEmail2" > First Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="first-name" placeholder="First Name">
          </div>
          <label class="sr-only" for="exampleInputEmail2"> Last Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="last-name" placeholder="Last Name">
          </div>
          <label class="sr-only" for="exampleInputEmail2"> Email</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
          </div>
          <label class="sr-only" for="exampleInputEmail2"> Password</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputPassword" placeholder="Password">
          </div>
        </div>
      </form>
      <button type="button" class="btn btn-warning btn-lg btn-block">Create an Account</button>
    </div>
    <div class="col-sm-6 col-md-4 white2">
      <h3>Log in</h3>
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="sr-only" for="exampleInputEmail2"> Email</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="inputEmail2" placeholder="Email">
          </div>
          <label class="sr-only" for="exampleInputEmail2"> Password</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputPassword2" placeholder="Password">
          </div>
        </div>
      </form>
      <button type="button" class="btn btn-danger btn-lg btn-block">Log in</button>
      <p>...</p>
    </div>
  </div>
</div>
</body>
</html>